<div class="container">
  <br>
  <h2>Enter name of the city</h2>
  <input type="text" #name class="form-control">
<button class="btn btn-primary" (click)="getWeather(name)">Search</button>
<button class="btn btn-primary" (click)="getWeatherLocation()">Your location forecast</button>

<div >

<carousel  >
  <slide *ngFor="let f of forecast; let i=index">
      <div class="card">
          <div class="card-body">
            <h4 *ngIf="i==0" class="card-title"> Today </h4>
            <h4 *ngIf="i==1" class="card-title"> Tomorrow  </h4>
            <h4 *ngIf="i>1" class="card-title"> {{(f.dt_txt|date:'EEEE')}}  </h4>
            <p class="card-title"> {{(f.dt_txt|date:'dd.MM.')}}  </p>
            <hr>
            <img [src]="'http://openweathermap.org/img/w/'+f.weather[0].icon+'.png'">

  
            
            <h5 class="card-subtitle mb-2 ">{{(i==0)?'Current temperature: '+f.main.temp:''}}<i *ngIf="i==0">&#8451;</i></h5>
            <h6 class="card-subtitle mb-2">Max temperature:{{f.main.temp_max}}<i>&#8451;</i></h6>
            <h6 class="card-subtitle mb-2">Min temperature:{{f.main.temp_min}}<i>&#8451;</i></h6>
            <h6 class="card-subtitle mb-2">Weather:{{f.weather[0].main}}</h6>

          </div>
          </div>
  </slide>
</carousel>
</div>
<app-spinner *ngIf="spin==true"></app-spinner>
</div>
