.card{
    margin-top:30px;
}
input{
    margin-top:20px;
}
button{
    margin-top:10px;
}
.card{
    background-color:black;
    opacity:0.8;
    color:white;
    text-align:center;
    padding-bottom:20px;
    padding-top:20px;
}
hr{
    border:1px solid white;
}