<div class="modal-header" >
  <h4 class="modal-title pull-left">Edit</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"   
  >
    <span aria-hidden="true" (click)="closeModal()">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" (ngSubmit)="onEdit()">
    <div class="row">
      <div class="col-xs-12 col-12 col-md-12 col-lg-12 form-group">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="todo"
              formControlName="todo"
              required
            />

            <div class="input-group-btn">
              <input
                type="text"
                [minDate]="currentDate"
                name="date"
                class="form-control"
                required
                formControlName="date"               
                bsDatepicker
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row b">
        <div class="col-sm col-xs-10">
            <button type="submit" [disabled]="!editForm.valid" class="add btn btn-primary mr-auto">
                Update
              </button>
        </div>
       <div class="col-sm col-xs-10">
          <button
          type="button"
          [disabled]="!editForm.valid"
          class="add btn btn-danger mr-auto"
          (click)="onDelete()">
          Delete
        </button>
       </div>
        
      </div>
    </div>
  </form>
</div>
