<div class="container">
  <h2>TODO</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates et sequi officia asperiores,
     dignissimos iste rem quis voluptate architecto id! </p>
    <hr>


    <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-12 col-12 col-md-12 col-lg-12 form-group">
                <div class="form-group">
                  <div class="input-group">
    
                    <input type="text"
                     class="form-control"
                      ngModel 
                      name="todo"
                      placeholder="Enter Todo"
                      required>
                      
                        
                    <div class="input-group-btn">
                        <input type="text"
                        placeholder="Date"
                        ngModel
                        [minDate]="currentDate"
                        name="date"
                        class="form-control"
                        required
                        bsDatepicker>                
                      </div>
                  </div>
                  <span [ngStyle]="{'color':'red'}" *ngIf="!f.valid && f.touched">Form not valid</span>

                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-sm-2">
                  <button type="submit" [disabled]="!f.valid" class="add btn btn-primary">Add</button>
              </div>
        </div>
    </form>
   
    
<div >
      <h1 *ngIf="todos.length!=0" class="my">MY TODOS:</h1>
              <ul class="list-group" *ngFor="let todo of (todos|sortDate |paginate: { id: 'foo',
              itemsPerPage: 2,
              currentPage: p }); let i=index">

        <li class="list-group-item">{{todo.todo}}<button (click)="openModal(modal ,todo.key)" class="btn btn-primary float-right">Edit</button></li>
        <span *ngIf="todo.date.getDate()==currentDate.getDate()" class="badge badge-success">Today</span>
        <span *ngIf="todo.date.getDate()!=currentDate.getDate()" class="badge badge-primary">{{todo.date|date:"dd/MM/yyyy"}}</span>
      </ul>
  
 
</div>
<div class="pagin">
    <pagination-controls *ngIf="todos.length!=0" id="foo" (pageChange)="p = $event"></pagination-controls>

</div>


  <ng-template #modal>
   <app-modal [id]="key"></app-modal>   
  </ng-template>

</div>